.page {
	display: flex;
	flex-direction: column;
}
.full {
	padding: 0;
}
.page > .title {
	padding: .5rem;
	background-color: green;
	color: white;
	font-size: 1.5em;
	font-family: Metropolis;
	font-weight: normal;
	margin: 0;
	border-bottom: .1rem solid rgb(0, 0, 0)
}
.page > .actions, .page > .full {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	background-color: white;
}
.page > .actions > .action:hover {
 	background-color: rgb(116, 181, 116);
}
.page > .actions > .action {
	color: rgb(0, 0, 0);
	padding: .5rem;
	background-color: lightgreen;
	width: calc(33.333333333% - 1rem);
	text-decoration: none;
	margin: 0;
	border-bottom: .1rem solid rgb(0, 0, 0)
}
.page > .full > .main, .page > .full > .toolbox {
	padding: .5rem;
	margin: 0;
}
.page > .full > .toolbox {
	margin-left: .5rem;
}
.page > .actions > .action > .action-head {
	font-weight: bold;
	font-family: Metropolis;
}
.page > .full > .main {
	flex: 2;
}
.action > .action-head {
	display: flex;
}
.action > .action-head > i {
	font-size: 1.5rem;
}
.action > .action-head > span {
	margin: auto .5rem;
}
.action > .action-head::after {
  content: 'ï‘';
  margin: auto 0;
  transition: .3s;
  font-family: Ionicons;
}
.action:hover > .action-head::after, .action:active > .action-head::after, action:focus > .action-head::after {
	margin-left: .5rem;
	transition: .3s;
}
.page > .full > .toolbox {
	flex: 1;
	height: max-content;
}
@media screen and (max-width: 720px) {
	.page > .actions > .action > .action-text {
		display: none;
	}
	.page > .actions > .action {
		margin: 0;
		text-align: center;
	}
	.page > .actions > .action > .action-head::after {
		display: none;
	}
	.page > .full > .toolbox, .page > .full > .main {
		flex: 1;
	}
	.action > .action-head {
		margin: auto;
		width: max-content;
	}
	.page > .full > .toolbox {
		display: none;
		margin: 0;
	}
	.page > .full > .main {
		width: calc(100% - 2rem);
		margin: 0;
	}
}
@media screen and (max-width: 600px) {
	.action > .action-head > span {
		display: none;
	}
}